body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #424f6f;
}

#container {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    background: #424f6f;
}

*:after
*:before {
    box-sizing: inherit;
}

#spooky {
    margin: 10% auto;
    width: 80%;
    height: 80%;
    animation: floaty 2s infinite;
    position: relative;
}

#spooky #body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: #f2fbf1;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

#spooky #body:before,
#spooky #body:after {
    content: '';
    position: absolute;
    top: 130px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #f2fbf1;
    animation: floaty .2s infinite;
}

#spooky #body:before {
    left: -18px;
}

#spooky #body:after {
    right: -18px;
}

#spooky #body #eyes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 90px 0 0;
    width: 90px;
    height: 20px;
}

#spooky #body #eyes:before,
#spooky #body #eyes:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: #252c49;
    border-radius: 50%;
}

#spooky #body #mouth {
    background: #252c49;
    margin: 25px auto 0;
    width: 60px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

#spooky #body #mouth:before {
    content: '';
    display: block;
    background: #fff;
    margin-left: 20px;
    width: 10px;
    height: 10px;
}

#spooky #body #feet {
    position: absolute;
    display: flex;
    bottom: -18px;
    width: 180px;
    height: 36px;
}

#spooky #body #feet > *,
#spooky #body #feet::before,
#spooky #body #feet::after {
    content: ' ';
    width: 36px;
    height: 36px;
    background: #f2fbf1;
    border-radius: 50%;
}

#shadow {
    margin: -90px auto 0;
    background: #252c49;
    width: 180px;
    height: 40px;
    border-radius: 50%;
    animation: zoomy 2s infinite;
}

@keyframes floaty {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes zoomy {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }
}
  
  .center {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
  }
  
  canvas {
    position: absolute;
  }
  
  .gooeys {
      width: 100%;
      height: 100%;
      filter: url('#filter');
  }
  
  .bg {
      width: 390px;
      height: 390px;
      background-color: white; 
      border-radius: 50%; 
      transition: all 0.5s;  
  }
  
  .pot {
    box-sizing: border-box;
    width: 250px;
    height: 120px;
    top: 100px;
    background: radial-gradient(#121, #111 45%);
    border-radius: 25px 25px 80px 80px;
  }
  
  .pot-top {
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    background-color: #111;
    top: -50px;
    border-radius: 20px 20px 80px 80px;
    box-shadow: #4f4 0 10px 45px -17px inset; 
  }
  
  .highlight{
    content: "";
    top: 20px; bottom: auto;
    background-color: rgba(68,255,68,0.3);
    width: 150px;
    height: 0;
    border-radius: 0 0 50% 50%;
    box-shadow: #4f4 0 0 35px 2px;
  }
  
  .glow {
    top: -100px;
    width: 0px;
    height: 0px;  
    border-radius: 50%;
    color: rgba(68,255,68,0.4);
    box-shadow: 0 0 150px 50px;
    animation: glow 0.5s linear infinite alternate;
  }
  
  .shadow {
    top: 210px;
    width: 220px;
    height: 20px;  
    background-color: #111;
    border-radius: 50%; 
  }
  
  @keyframes glow {
    to{
      box-shadow: 0 0 120px 50px;
    }
  }

  .cauldron {
    margin-left: 300px; 
    align-items: center;
  }